s_refgain 0.4
s_refdelay 4
s_occfactor 0.25
s_verbwet 0.25
s_distance 60
console 0

// run a user script file if present


//
// stuff command line statements
//
stuffcmds

wait; wait; wait; wait; wait; clear
wait; wait; wait; wait; wait; wait;
wait; wait; wait; wait; wait; wait;
exec userconfig.cfg


